.movies {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    font-size: 1.3vw;
   
}

.title {
    text-align: center;
}

ol {
    border-style: dashed;
    
    border-color: cadetblue;
    border-radius: 5px;
    color: aliceblue;
}