<div class="container">
    <div class="row justify-content-center">

      <div class="header">
        <page-title></page-title>
      </div>

        <div class="container" id="box">
          
           <movie-list></movie-list>
       
            <fav-photos></fav-photos>
         
            <chores-list></chores-list>
          
      </div>
      <div>
        <hr>
        <fav-links></fav-links>
        <img src="https://media.tenor.com/Rhbv9SRCKR0AAAAM/tommy-boy-chris-farley.gif" width="200" height="200" alt="This will display an animated GIF">
      </div>
        
       
      </div>
  
    
    </div>
  
  
  
  
  
  